@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&family=Yeseva+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* palette */
  --palette-green: #cee5d8;
  --palette-white: #fcfcfc;
  --palette-peach: #f7d2bc;
  --palette-gray: #6d5d6f;
  --palette-red: #e04834;
  --palette-blue: #427f94;

  /* colors */
  --body-bg: #FAFAFA;
  --page-bg: #F5F5F5;
  --dark-text: #2A2935;
  /* spacing */
  /* this is what defines the global scale */
  --baseline: 12px;
  /* fonts */
  --book-title: 'Tulpen One', sans-serif;
  --title: 'Cormorant Garamond', serif;
  --body: 'Cormorant Garamond', serif;
  --base-size: var(--baseline) * 1.2;
}

body {
  font-family: 'Quicksand', sans-serif;
}

