---
import '../styles/index.css';

import Layout from '../layouts/Layout.astro';

import { getCollection } from 'astro:content';
import BlogPost from '../components/BlogPost.astro';

const posts = await getCollection('posts');
---

<Layout title="Welcome to Bravies.">
	<section class="p-8 mx-auto max-w-4xl gap-8">
        <ul>
            {posts.map((post) => (
                <BlogPost url={post.slug} title={post.data.title} description={post.data.brief} />
            ))}
        </ul>
    </section>
</Layout>