---
import '../styles/index.css';

import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';

import { getCollection } from 'astro:content';
import BlogPost from '../components/BlogPost.astro';

const posts = await getCollection('posts');
---

<Layout title="Welcome to Bravies.">
	<Navigation />
	<section>
        <ul>
            {posts.map((post) => (
                <BlogPost url={post.url} title={post.title} description={post.description} />
            ))}
        </ul>
    </section>
</Layout>