---
import '../styles/index.css';

import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import AssociatedCompanies from '../components/home/AssociatedCompanies.astro';
import Pricing from '../components/Pricing.astro';
import Testimonials from '../components/home/Testimonials.astro';
import Doubts from '../components/Doubts.astro';
import HowItWorks from '../components/HowItWorks.astro';
---

<Layout title="Welcome to Bravies!">
	<Hero />
  <div class="bg-bve_red-faint">
    <main class="max-w-7xl mx-auto lg:px-8">
      <div class="py-12 sm:py-18 text-black text-center font-semibold">
      Bravies was created to bring a psychologist to you – to be accessible when you have a few minutes between all the other moving parts in your day. Everyone deserves access to effective mental healthcare. Every child deserves to learn these simple strategies to get back to being a kid.
      </div>
    </main>
  </div>
  <Doubts />
</Layout>
