---
import '../styles/index.css';

import Layout from "../layouts/Layout.astro";
import OtherResources from '../components/OtherResources.astro';
---

<Layout title="You're subscribed to the newsletter! Bravies">
  <div class="bg-white">
    <div class="mx-auto mt-20 max-w-2xl text-center sm:mt-24">
      <p class="text-base font-semibold leading-8 text-bve_red">Thank You</p>
      <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">You're subscribed!</h1>
      <p class="mt-4 text-base leading-7 text-gray-600 sm:mt-6 sm:text-lg sm:leading-8">Looking for more content on a specific topic? Let us know!</p>
    </div>
    <div class="mx-auto max-w-xl mt-8 bg-gray-50 border rounded-md p-4">
      <form
        action="https://formspree.io/f/xoqgowww"
        method="POST"
        data-event="newsletter_content_requested"
      >
        <div class="grid grid-cols-1 gap-x-8 gap-y-6">
          <div>
            <label for="email" class="block text-sm font-semibold leading-6 text-gray-900">Email</label>
            <div class="mt-2.5">
              <input id="email" name="email" type="email" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-bve_red sm:text-sm sm:leading-6">
            </div>
          </div>
          <div>
            <label for="message" class="block text-sm font-semibold leading-6 text-gray-900">Message</label>
            <div class="mt-2.5">
              <textarea id="message" name="message" rows="2" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-bve_red sm:text-sm sm:leading-6"></textarea>
            </div>
          </div>
        </div>
        <div class="mt-8">
          <button type="submit" class="block w-full rounded-md bg-bve_red px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-bve_red-light focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-bve_red">Send Content Request</button>
        </div>
        <p class="mt-4 text-sm leading-6 text-gray-500">By submitting this form, I agree to the <a href="/privacy" class="font-semibold text-bve_red">privacy&nbsp;policy</a>.</p>
      </form>
    </div>
    <OtherResources />
  </div>
</Layout>
