---
import '../styles/index.css';

import Layout from "../layouts/Layout.astro";
import OtherResources from '../components/OtherResources.astro';
---

<Layout title="You're on the waitlist! Bravies">
  <div class="bg-white">
    <div class="mx-auto mt-20 max-w-2xl text-center sm:mt-24">
      <p class="text-base font-semibold leading-8 text-bve_red">Thank You</p>
      <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">You're on the waitlist!</h1>
      <p class="mt-4 text-base leading-7 text-gray-600 sm:mt-6 sm:text-lg sm:leading-8">Sorry, we were unable to get you signed up today.</p>
    </div>
    <OtherResources />
  </div>
</Layout>
