---
const year = new Date().getFullYear();
---
<footer class="bg-gray-900 mt-16" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto max-w-7xl px-6 pb-8 pt-16 sm:pt-24 lg:px-8 lg:pt-32">
    <div class="xl:grid xl:grid-cols-5 xl:gap-8">
      <div class="xl:col-span-2">
        <img class="h-7" src="https://tailwindui.com/img/logos/mark.svg?color=orange&shade=500" alt="Company name">
      </div>
      <div class="mt-16 grid grid-cols-3 gap-8 xl:col-span-3 xl:mt-0">
        <div class="mt-10 md:mt-0">
          <h3 class="text-sm font-semibold leading-6 text-white">Support</h3>
          <ul role="list" class="mt-6 space-y-4">
            <li>
              <a href="/pricing" class="text-sm leading-6 text-gray-300 hover:text-white">Pricing</a>
            </li>
            <li>
              <a href="/how-it-works" class="text-sm leading-6 text-gray-300 hover:text-white">How it works</a>
            </li>
            <li>
              <a href="/faq" class="text-sm leading-6 text-gray-300 hover:text-white">FAQ</a>
            </li>
          </ul>
        </div>
        <div>
          <h3 class="text-sm font-semibold leading-6 text-white">Company</h3>
          <ul role="list" class="mt-6 space-y-4">
            <li>
              <a href="#" class="text-sm leading-6 text-gray-300 hover:text-white">About</a>
            </li>
            <li>
              <a href="#" class="text-sm leading-6 text-gray-300 hover:text-white">Resources</a>
            </li>
            <li>
              <a href="/press" class="text-sm leading-6 text-gray-300 hover:text-white">Press</a>
            </li>
            <li>
              <a href="/partners" class="text-sm leading-6 text-gray-300 hover:text-white">Partners</a>
            </li>
          </ul>
        </div>
        <div class="mt-10 md:mt-0">
          <h3 class="text-sm font-semibold leading-6 text-white">Legal</h3>
          <ul role="list" class="mt-6 space-y-4">
            <li>
              <a href="/privacy" class="text-sm leading-6 text-gray-300 hover:text-white">Privacy</a>
            </li>
            <li>
              <a href="/terms" class="text-sm leading-6 text-gray-300 hover:text-white">Terms</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="mt-16 border-t border-white/10 pt-8 sm:mt-20 lg:mt-24 lg:flex lg:items-center lg:justify-between">
      <div>
        <h3 class="text-sm font-semibold leading-6 text-white">Subscribe to our newsletter</h3>
        <p class="mt-2 text-sm leading-6 text-gray-300">Receive the latest advice, case studies, and resources delivered to your inbox weekly.</p>
      </div>
      <form
        action="https://formspree.io/f/xkndlwzq"
        method="POST"
        class="mt-6 sm:flex sm:max-w-md lg:mt-0"
      >
        <label for="email-address" class="sr-only">Email address</label>
        <input type="email" name="email-address" id="email-address" autocomplete="email" required class="w-full min-w-0 appearance-none rounded-md border-0 bg-white/5 px-3 py-1.5 text-base text-white shadow-sm ring-1 ring-inset ring-white/10 placeholder:text-gray-500 focus:ring-2 focus:ring-inset focus:ring-orange-500 sm:w-56 sm:text-sm sm:leading-6" placeholder="Enter your email">
        <div class="mt-4 sm:ml-4 sm:mt-0 sm:flex-shrink-0">
          <button type="submit" class="flex w-full items-center justify-center rounded-md bg-orange-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-orange-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-500">Subscribe</button>
        </div>
      </form>
    </div>
    <div class="mt-8 border-t border-white/10 pt-8 md:flex md:items-center md:justify-between">
      <div class="flex space-x-6 md:order-2 text-gray-400">
        <a href="https://app.bravies.ca/sign-in">Sign In</a>
        <button x-on:click="open = true">Get Started</a>
      </div>
      <p class="mt-8 text-xs leading-5 text-gray-400 md:order-1 md:mt-0">&copy; {year} Bravies, Inc. All rights reserved. <a data-gt-cookie-widget-show class="cursor-pointer">Manage Cookie Preferences</a></p>
    </div>
  </div>
</footer>
