<div class="bg-white">
    <div class="relative isolate overflow-hidden bg-gradient-to-b from-orange-100/20">
      <div class="mx-auto max-w-7xl pb-24 pt-10 sm:pb-32 lg:grid lg:grid-cols-2 lg:gap-x-8 lg:px-8 lg:pt-24 lg:pb-40">
        <div class="px-6 lg:px-0">
          <div class="mx-auto max-w-2xl">
            <div class="max-w-lg">
              <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl sm:leading-tight">We Help Conquer Your Child's Anxiety</h1>
              <p class="mt-6 text-lg leading-8 text-gray-600">Learn what works. Put it into practice. Watch your child gain confidence. </p>
              <div class="mt-10 flex items-center gap-x-6">
                <button x-on:click="open = true" class="rounded-md bg-orange-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-orange-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-600 w-40">Get Started</button>
                <a href="#" class="text-sm font-semibold leading-6 text-gray-900">How does it work <span aria-hidden="true">→</span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-20 sm:mt-24 md:mx-auto md:max-w-2xl lg:mx-0 lg:mt-0 lg:w-screen">
          <div class="absolute inset-y-0 right-1/2 -z-10 -mr-10 w-[200%] skew-x-[-30deg] bg-white shadow-xl shadow-orange-600/10 ring-1 ring-orange-50 md:-mr-20 lg:-mr-36" aria-hidden="true"></div>
          <div class="shadow-lg md:rounded-3xl">
            <div class="bg-orange-500 [clip-path:inset(0)] md:[clip-path:inset(0_round_theme(borderRadius.3xl))]">
              <div class="absolute -inset-y-px left-1/2 -z-10 ml-10 w-[200%] skew-x-[-30deg] bg-orange-100 opacity-20 ring-1 ring-inset ring-white md:ml-20 lg:ml-36" aria-hidden="true"></div>
              <div class="relative px-6 pt-8 sm:pt-16 md:pl-16 md:pr-0">
                <div class="mx-auto max-w-2xl md:mx-0 md:max-w-none">
                  <div class="w-screen overflow-hidden rounded-tl-xl bg-gray-900">
                    <div class="flex bg-gray-800/40 ring-1 ring-white/5">
                      <div class="-mb-px flex text-sm font-medium leading-6 text-gray-400">
                        <div class="border-b border-r border-b-white/20 border-r-white/10 bg-white/5 px-4 py-2 text-white">Practice Plan</div>
                        <div class="border-r border-gray-600/10 px-4 py-2">Lesson 1</div>
                        <div class="border-r border-gray-600/10 px-4 py-2">Lesson 2</div>
                        <div class="border-r border-gray-600/10 px-4 py-2">Lesson 3</div>
                      </div>
                    </div>
                    <div class="px-6 pb-14 pt-6">
                      <h2 class="text-lg tracking-tight text-gray-300">Worry Storm</h2>
                      <p class="mt-2 text-md leading-8 text-gray-400"><span class="font-bold">Activity:</span> When your child is beginning to feel anxious, recognize it by saying<br />"Uh oh, I think a worry storm is coming. What should we do?"</p>
                    </div>
                  </div>
                </div>
                <div class="pointer-events-none absolute inset-0 ring-1 ring-inset ring-black/10 md:rounded-3xl" aria-hidden="true"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="absolute inset-x-0 bottom-0 -z-10 h-24 bg-gradient-to-t from-white sm:h-32"></div>
    </div>
  </div>
