<div class="bg-white">
    <nav class="flex p-4 mx-auto max-w-7xl">
        <a href="/">Bravies</a>
        <div class="flex-grow" />
        <a href="/about">About</a>
        <a class="border-l pl-4 ml-4" href="https://app.bravies.ca/sign-in">Sign In</a>
        <a class="ml-4" href="https://app.bravies.ca/get-started">Sign Up</a>
    </nav>
</div>
