<div class="bg-white">
    <nav class="flex p-8 mx-auto max-w-7xl gap-8">
        <a href="/">Bravies</a>
        <div class="flex-grow" />
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
        <a class="border-l pl-8" href="https://app.bravies.ca/sign-in">Sign In</a>
        <a href="https://app.bravies.ca/get-started">Sign Up</a>
    </nav>
</div>
