---
import { ViewTransitions } from 'astro:transitions';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
	hideSignUp?: boolean;
}

const { title, hideSignUp } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />

		<ViewTransitions />
	</head>
	<body x-data="{ open: false }" x-init="$refs.waitlistModal.classList.remove('hidden')">
		<Navigation hideSignUp={hideSignUp} />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
	}
	
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
